@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pixel-font {
  font-family: "Press Start 2P", cursive;
  font-size: 0.9rem;
}

.pixel-border {
  border-image: url("/pixel-border.png") 30 stretch;
  border-width: 4px;
  border-style: solid;
}
